@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
    background-size: cover;
    background-position: 50% 50%;
}

:root{
    --borderSize: 2px;
    --itemOffsetY: -20px;
    --borderColorBlack: #1c1b1f;
    --invetoryGridRes: 47px;
    --inventoryItemPosY: 47px;
    --inventoryItemPosX: 47px;
 
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;

    background-color: rgba(0, 0, 0, 0.5);

}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

#bg{
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainLayout{
    display: grid;
    grid-template-columns: 400px 606px 1000px;
    grid-gap: 20px;
    justify-content: center;
    padding-top: 50px;
}

@media screen and (max-width: 1920px) {
    .mainLayout{
        grid-template-columns: 400px 606px;
    }
}

/* CONTENT WINDOW COLOR/BORDER */
.window-bg{
    display: grid;
    grid-template-rows: 30px auto;
    border: var(--borderColorBlack) 3px solid;
    border-radius: 6px;
}

.title{
    text-align: center;
    background-color: #48a78f7d;
    border-bottom: #1c1b1f 3px solid; ;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* EQUIPMENT */
.characterItemsContainer{
    
    position: relative;
    width: 600px;
    height: 480px;
}


/* Item slot/container position/color */
.itemContainer,
.itemSlot{
    position: absolute;
    border: rgb(24, 24, 24) 3px solid;
    background-color: #0f100e69;
    border-radius: 6px;
}

.itemContainer{
    background-color: rgb(30 32 68 / 40%);
}


.Helm,
.itemHelm{
    width: 93.929px;
    height: 95.929px;
    left: 50%;
    margin-left: -46.9645px;
    top: calc(5.5% - var(--itemOffsetY));
}

.Weapon,
.itemWeapon{
    width: 93.929px;
    height: 189.858px;  
    left: 12%;
    top: calc(8% - var(--itemOffsetY));
}

.Offhand,
.itemOffhand{
    width: 93.929px;
    height: 189.858px;  
    left: 72%;
    top: calc(8% - var(--itemOffsetY));
}

.BodyArmour,
.itemBodyArmour{
    width: 93.929px;
    height: 142.3935px;
    left: 50%;
    margin-left: -46.9645px;
    top: calc(28% - var(--itemOffsetY));
}

.Ring,
.itemRing{
    width: 47.4645px;
    height: 47.4645px;
    left: 31%;
    top: calc(37.7% - var(--itemOffsetY));
}

.Ring2,
.itemRing2{
    width: 47.4645px;
    height: 47.4645px;
    left: 61%;
    top: calc(37.7% - var(--itemOffsetY));
}

.Amulet,
.itemAmulet{
    width: 47.4645px;
    height: 47.4645px;
    left: 61%;
    top: calc(25.4% - var(--itemOffsetY));
}

.Gloves,
.itemGloves{
    width: 93.929px;
    height: 95.929px;
    left: 31%;
    margin-left: -46.9645px;
    top: calc(49.9% - var(--itemOffsetY));
}

.Boots,
.itemBoots{
    width: 93.929px;
    height: 95.929px;
    left: 61%;
    top: calc(49.9% - var(--itemOffsetY));
}

.Belt,
.itemBelt{
    width: 93.929px;
    height: 47.4645px;
    left: 50%;
    margin-left: -46.9645px;
    top: calc(60% - var(--itemOffsetY));
}

.Trinket,
.itemTrinket{
    width: 47.4645px;
    height: 47.4645px;
    left: 12%;
    bottom: calc(12% + var(--itemOffsetY));
}

.Flask1,
.itemFlask1{
    width: 47.4645px;
    height: 95.929px;
    left: 26%;
    bottom: calc(6% + var(--itemOffsetY));
}

.Flask2,
.itemFlask2{
    width: 47.4645px;
    height: 95.929px;
    left: 36%;
    bottom: calc(6% + var(--itemOffsetY));
}

.Flask3,
.itemFlask3{
    width: 47.4645px;
    height: 95.929px;
    left: 50%;
    margin-left: -23.73225px;
    bottom: calc(6% + var(--itemOffsetY));
}

.Flask4,
.itemFlask4{
    width: 47.4645px;
    height: 95.929px;
    left: 56%;
    bottom: calc(6% + var(--itemOffsetY));
}

.Flask5,
.itemFlask5{
    width: 47.4645px;
    height: 95.929px;
    left: 66%;
    bottom: calc(6% + var(--itemOffsetY));
}

.iconContainer{
    position: relative;
    text-align: center;
}

.placement{
    top: 23.73225px;
}

.placement2{
    top: 47.4645px;
}


.itemContainer:hover{
    border: rgba(255, 255, 255, 0.753) 3px solid;
    border-radius: 6px;
}

/* Mods text color/font */
.itemName{
    white-space: nowrap;
    padding: 0px 10px;
}

.itemMod{
    white-space: pre;
    padding: 0px 10px;
}


.regionColor0{
    background-image: linear-gradient(rgb(66 66 70),rgb(105 105 119));
    border: rgb(165 165 173) var(--borderSize) solid;
    position: relative;
    top: -6px;
}

.regionColor1{
    background-image: linear-gradient(rgb(34 34 45),rgb(65 65 87));
    border: #484867 var(--borderSize) solid;
    position: relative;
    top: -6px;
}

.regionColor2{
    background-image: linear-gradient(rgb(97, 73, 28),rgb(161 123 54));
    border: #a0a559 var(--borderSize) solid;
    position: relative;
    top: -6px;
}

.regionColor3{
    background-image: linear-gradient(rgb(78, 0, 0), rgb(119 33 33));
    border: #804b28 var(--borderSize) solid;
    position: relative;
    top: -6px;
}

.regionColor4{
    background-image: linear-gradient(rgb(30, 61, 52),rgb(40, 77, 65));
    border: rgb(92, 172, 148) var(--borderSize) solid;
    position: relative;
    top: -6px;
}

.regionColor5{
    background-image: linear-gradient(rgb(70, 63, 45), rgb(88, 80, 58));
    border: rgb(102, 95, 73) var(--borderSize) solid;
    position: relative;
    top: -6px;
}
.regionColor6{
    background-image: linear-gradient(rgb(70, 63, 45), rgb(88, 80, 58));
    border: rgb(173, 164, 138) var(--borderSize) solid;
    position: relative;
    top: -6px;
}

.regionColor7{
    background-image: linear-gradient(rgb(8, 51, 14), rgb(16, 75, 24));
    border: rgb(40, 94, 46) var(--borderSize) solid;
    position: relative;
    top: -6px;
}
.itemName .frameType0{
    color: rgb(190 189 198);
}

.itemName .frameType1{
    color: rgb(190, 189, 255);
}

.itemName .frameType2{
    color: rgb(255, 251, 27);
}

.itemName .frameType3{
    color: rgb(255, 97, 5);
}

.itemName .frameType4{
    color: rgb(92, 172, 148);
}

.itemName .frameType5{
    color: rgb(173, 164, 138);
}

.itemName .frameType6{
    color: rgb(173, 164, 138);
}

.itemName .frameType7{
    color: rgb(0, 255, 0);
}

.enchantMod,
.craftedMod{
    color: lightskyblue;
}

.affixMod{
    color: rgb(123 123 255);
}

.corrupted{
    color: rgb(207, 0, 0);
}

/* STASH TABS */
.stashtabContainer{
    position: relative;
    width: 1020px;
    height: 864px;
    grid-template-rows: 30px;
}

.stashtabContainer .inner{
    display: grid;
    grid-template-rows: 75px auto;
    gap: 20px;
}

.stashtabContainer .scrollbar{
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    width: calc(100% - 80px);
    height: calc(100% - -19px);
    left: 50%;
    top: 17%;
    margin-left: calc(-50% + 37px);
    background-color: #b6b59a4d;
    border: black 3px solid;
    border-radius: 6px;
}

.stashbtn{
    border-radius: 6px;
    color: white;
    font-size: 1.1rem;
    padding: 10px 10px;
    margin-left: 3px;
    margin-top: 30px;
    transition: transform .1s;
}

.stashbtn:hover{
    filter: brightness(200%);
    cursor: pointer;
}

.selectedTab{
    transform:translateY(-20px);
}

.stashtabContainer .stashTabDetail{
    position: relative;
    border: black 3px solid;
    border-radius: 6px;
    height: 700px;
    width: calc(100% - 80px);
    left: 50%;
    top: 2%;
    margin-left: calc(-50% + 37px);
    background-color: #b6b59a4d;
    display: grid;
    grid-template-rows: 30px auto; 
}

.stashContent{
    overflow-y: scroll;
}

.stashTabDetail .tags{
    display: grid;
    grid-template-columns: 15% 65% 20%;
    border-bottom: black 3px solid;
}

.tags > div > h2{
    margin: 2px;
    padding: 0 5px;
    font-size: 20px;
}

.tags .name,
.tags .quantity{
    border-left: black 3px solid;
}

.stashContent .item{
    display: grid;
    grid-template-columns: 15% 57% 9% 18%;
    grid-template-rows: 40px;
    border-bottom: rgba(0, 0, 0, 0.466) 1px solid;
}

.stashContent .item:hover{
    background-color: rgba(170, 169, 169, 0.514);
}

.stashContent .item:last-child{
    border: none;
}

.stashContent .item > div > h2{
    margin: 0;
    padding: 10px 7px;
    white-space: nowrap;
    font-size: 1.1rem;
}

.stashContent .item > div > img {
    height: 35px;
    padding: 2px 7px;
}

.stashContent .item > div > a {
    position: relative;
    top: 24%;
}

.poeNinjaBtn{
    white-space: nowrap;
    border: black 1px solid;
    border-radius: 6px;
    cursor: pointer;
    background-color: #adadad8f;
}

.poeNinjaBtn:hover{
    background-color: #c8c8c88f;
}

/* CHARACTER WINDOWS */
.charactersContainer{
    height: 865px;
}

.charactersContainer .scrollbar{
    overflow-y: scroll;
    position: relative;
    width: 330px;
    height: 760px;
    border: black 3px solid;
    border-radius: 6px;
    top: 46%;
    margin-top: -354px;
    left: 50%;
    margin-left: -170px;
    background-color: #b6b59a4d;
}

.characterWindow{
    display: grid;
    grid-template-columns: 80px 200px;
    grid-template-rows: auto auto auto;
    width: 280px;
    height: 80px;
    color: white;
    background-color: rgb(71 80 97 / 64%);
    border: rgb(147 176 193) 2px solid;
    transition: transform .1s;
    position: relative;
    left: 50%;
    margin-left: -137px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.characterWindow:hover{
    transform: scale(1.05);
    z-index: 1;
    border: rgb(255, 255, 255) 2px solid;
    cursor: pointer;
}

.selectedCharacter{
    background-color: rgba(114, 123, 141, 0.64);
}

.characterWindow .icon{
    grid-column: 1;
    grid-row: 1 / span 3;
}

.characterWindow .icon.Marauder {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -658px -80px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Juggernaut {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -400px -500px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Berserker {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -480px -500px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Chieftain {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -160px -580px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Shadow {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -658px -160px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Assassin {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: 0px -500px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Saboteur {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -80px -580px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Trickster {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -240px -500px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Witch {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -330px -340px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Occultist {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: 0px -580px;
    width: 80px;
    height: 80px;
}

.characterWindow .icon.Elementalist {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -560px -500px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Necromancer {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -658px -320px;
    width: 80px;
    height: 80px;
}

.characterWindow .icon.Templar {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -320px -500px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Inquisitor {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -160px -500px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Hierophant {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -440px -420px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Guardian {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -220px -180px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Duelist {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -658px -480px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Slayer {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -658px 0px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Gladiator {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -80px -500px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Champion {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -658px -240px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Ranger {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -320px -580px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Deadeye {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -400px -580px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Raider {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -480px -580px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Pathfinder {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -240px -580px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Scion {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -658px -400px;
    width: 80px;
    height: 80px; 
}

.characterWindow .icon.Ascendant {
    background: url('https://web.poecdn.com/image/gen/inventory-sprite.png?1619050656400') no-repeat;
    background-position: -330px -260px;
    width: 80px;
    height: 80px; 
}

/* INVENTORY */
.mainInventoryContainer{
    grid-column: 2;
    grid-row: 2;
    height: 358px;
    width: 600px;
    margin-top: 20px;
}

.inventoryItems{
    position: relative;
    width: 562px;
    height: 234px;
    border: rgba(0, 0, 0, 1) 3px solid;
    border-radius: 6px;
    left: 49%;
    top: 12%;
    margin-left: -277px;
    background-color: #0f100e69;
}

.inventoryItems .grid{
    display: grid;
    grid-template-rows: repeat(5, var(--invetoryGridRes));
    grid-template-columns: repeat(12, var(--invetoryGridRes));
}

.inventoryItems .grid .gridLines{
    border: rgba(0, 0, 0, 0.5) 1px solid;
}

.inventoryItems .inventoryItem{
    position: absolute;
}

.inventoryItems .tooltip:hover{
    border: none;
}

.inventoryItem .iconContainer .icon > img{
    background-color: rgb(30, 32, 68, 0.4);
}

.inventoryItem .iconContainer .icon > img:hover{
    background-color: rgba(106, 111, 196, 0.4);
}

.inventoryItems .itemsToDisplay{   
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.stackSize{
    font-size: 17px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -1px;
    left: 4px;
}

/* Margin */
.m-0{
    margin: 0;
}
.mt-5{
    margin-top: 5px;
}
/* Padding */
.pl-10{
    padding-left: 10px;
}

.pt-5{
    padding-top: 5px;
}

/* Text size */
.sm{
    font-size: 1rem;
}

.md{
    font-size: 1.5rem; 
}

.lg{
    font-size: 2rem;
}

.xl{
    font-size: 2.5rem;
}

/* Text allign */
.ac{
    text-align: center;
}

.al{
    text-align: left;
}

/* Color */
.ic{
    background-color: #5b696d7a;
}

.aboutWrapper{
    position: absolute;
    top: 10px;
    left: calc(100% - 60px);
}

.aboutIcon{
    color: #daa520cf; 
}

.aboutIcon:hover{
    color: goldenrod;
    cursor: pointer;
}

.aboutLink{
    color: #39ff04;
    text-decoration: none;
}

.aboutLink:hover{
    text-decoration: underline;
}